<ng-container *ngIf="isProfileLoading; else userSearch">
    <app-loader [isProfileLoading]="isProfileLoading"></app-loader>
</ng-container>

<ng-template #userSearch>
    <div *ngIf="!user" class="parent-container">
        <h1>GitHub Dashboard Navigator</h1>

        <div class="form-container">
            <form (ngSubmit)="getUserProfile()">
                <input type="text" autofocus [(ngModel)]="username" name="first" pInputText class="p-mr-2"
                    placeholder="Enter GitHub username">
                <button type="submit" pButton [disabled]="!username.length" icon="pi pi-search"
                    class="p-button-primary">Search</button>
                <p *ngIf="isInvalidUserEntry" class="invalid-text">Invalid entry, try valid username!</p>

            </form>
        </div>
    </div>
</ng-template>


<div *ngIf="user" class="dashboard-container">
    <app-user-details class="profile-container" [user]="user"></app-user-details>
    <app-user-repos-listing class="repos-container" [publicRepoLength]="user.public_repos" [repos]="repos"
        [username]="username" [totalRepos]="totalRepos" [isRepoLoading]="isRepoLoading"></app-user-repos-listing>
</div>