.p-card {
    padding: 1rem;
    margin: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 5px;
    background-color: #fff;
    padding-top: 0px;
}

.p-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.repo-info {
    display: flex;
    justify-content: space-between;
}

.repo-info-item {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    font-size: 0.8rem;
    height: 25px;
    background-color: blue;
    border-radius: 4px;
    color: white;

    div {
        display: flex;
        align-items: center;
        padding: 5px;
    }
}

.repo-info-item i {
    margin-right: 0.25rem;
}

/* Media query for two columns on larger screens */
@media screen and (min-width: 768px) {
    .p-col-12.p-md-6.p-lg-6.p-xl-4 {
        max-width: 50%;
    }
}

.repo-list {
    display: flex;
    flex-wrap: wrap;
    min-height: 55vh;

    .card-box {
        min-width: 50%;

        .p-card {
            min-height: 22vh;
            max-height: 22vh;
            border: 1px solid;
        }
    }
}


/* Style the previous and next buttons */
::ng-deep .p-paginator .p-paginator-prev, 
.p-paginator .p-paginator-next {
  padding: 0.25rem;
  background-color: #f0f0f0;
  border: 1px solid #d9d9d9;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Style the previous and next icons */
::ng-deep .p-paginator .p-paginator-prev .pi, 
.p-paginator .p-paginator-next .pi {
  font-size: 1.5rem;
  color: #777777;
}
