.profile-section {
    display: flex;
    flex-direction: row;

    .profile-pic-section {
        display: flex;
        flex-direction: column;
    }

    .profile-detail-section {
        display: flex;
        flex-direction: column;
        margin-left: 40px;

        div {
            font-size: 13px;
            height: 24px;
        }
        .location-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
    }
}

.github-link {
    align-items: center;
    display: flex;
    margin: 15px 0;
}

img {
    padding-right: 5px;
}