
<div class="profile-section">
    <img [src]="user?.avatar_url" alt="Profile Image" class="p-mr-2"
        style="width: 25vh; height: 100%; border-radius: 50%;">

    <div class="profile-detail-section">
        <h3>{{ user?.name || user?.username || 'NA'}}</h3>
        <div>{{ user?.bio || 'NA' }}</div>
        <div class="location-container">
            <img img src="assets/svg/geo-location.svg" alt="Location-icon Picture">
            <span>{{ user?.location || 'NA'}}</span>
        </div>
        <div>
            <span>Twitter: </span>
            <ng-container *ngIf="user?.twitter_username; else notAvail">
                <a [href]="'https://twitter.com/' + user?.twitter_username" target="_blank"  rel="noreferrer noopener"
                    class="p-button p-button-link p-mr-2">
                    <i class="pi pi-twitter"></i>
                    <span class="p-ml-1">https://twitter.com/{{user?.twitter_username}}</span>
                </a>
            </ng-container>
            <ng-template #notAvail>NA</ng-template>
        </div>
    </div>
</div>
<div class="github-link">
    <img img src="assets/svg/github-icon.svg" alt="Github-icon Picture">
    <ng-container *ngIf="user?.login; else notAvail">
        <a [href]="'https://github.com/' + user?.login" target="_blank" rel="noreferrer noopener" class="p-button p-button-link">
            <i class="pi"></i>
            <span class="p-ml-1">https://github.com/{{user?.login}}</span>
        </a>
    </ng-container>
</div>